<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>每日番剧</title>
  <link rel="stylesheet" href="/css/anime.css">
</head>

<body class="vscode-dark" style="background: #000;">
  <div class="bangumi-containr">
    <header class="bangumi-header" id="bangumi-header">
      <h1>每日放送</h1>
      <span class="date" id="date"></span>
      <p class="hitokoto" id="hitokoto"></p>
    </header>
    <div class="bangumi-list-container">
      <ul class="anime-list" id="anime-list">
      </ul>
    </div>
  </div>
  <script src="/mock/data.js"></script>
  <script src="/js/anime.js"></script>
</body>

</html>