<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>每日番剧</title>
  <link rel="stylesheet" href="/css/anime.css">
</head>

<body class="vscode-dark">
  <div class="bangumi-containr">
    <header class="bangumi-header" id="bangumi-header">
      <h1>每日放送</h1>
      <span class="date" id="date">/2019年02月18日 星期一</span>
      <p class="hitokoto">廉价的自尊、粗劣的傲气，无论哪个后生小辈都很重视这些东西。<span>---狼与香辛料</span></p>
    </header>
    <div class="bangumi-list-container">
      <ul class="anime-list" id="anime-list">
        <li class="anime-item">
          <p class="day sun"></p>
          <ul>
            <li class="anime-content">
              <a href="">
                <div class="poster"
                  style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                  <p class="anime-name">灵能百分百 第二季</p>
                </div>
                <div class="mask"></div>
              </a>
            </li>
          </ul>
        </li>
        <li class="anime-item">
          <p class="day mon"></p>
          <ul>
              <li class="anime-content">
                <a href="">
                  <div class="poster"
                    style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                    <p class="anime-name">灵能百分百 第二季</p>
                  </div>
                  <div class="mask"></div>
                </a>
              </li>
              <li class="anime-content">
                  <a href="">
                    <div class="poster"
                      style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                      <p class="anime-name">灵能百分百 第二季</p>
                    </div>
                    <div class="mask"></div>
                  </a>
                </li>
            </ul>
        </li>
        <li class="anime-item">
          <p class="day tue"></p>
          <ul>
              <li class="anime-content">
                <a href="">
                  <div class="poster"
                    style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                    <p class="anime-name">灵能百分百 第二季</p>
                  </div>
                  <div class="mask"></div>
                </a>
              </li>
              <li class="anime-content">
                  <a href="">
                    <div class="poster"
                      style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                      <p class="anime-name">灵能百分百 第二季</p>
                    </div>
                    <div class="mask"></div>
                  </a>
                </li>
                <li class="anime-content">
                    <a href="">
                      <div class="poster"
                        style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                        <p class="anime-name">灵能百分百 第二季</p>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </li>
                  <li class="anime-content">
                      <a href="">
                        <div class="poster"
                          style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                          <p class="anime-name">灵能百分百 第二季</p>
                        </div>
                        <div class="mask"></div>
                      </a>
                    </li>
            </ul>
        </li>
        <li class="anime-item">
          <p class="day wed"></p>
        </li>
        <li class="anime-item">
          <p class="day thu"></p>
        </li>
        <li class="anime-item">
          <p class="day fri"></p>
        </li>
        <li class="anime-item">
          <p class="day sat"></p>
          <ul>
              <li class="anime-content">
                <a href="">
                  <div class="poster"
                    style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                    <p class="anime-name">灵能百分百 第二季</p>
                  </div>
                  <div class="mask"></div>
                </a>
              </li>
              <li class="anime-content">
                  <a href="">
                    <div class="poster"
                      style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                      <p class="anime-name">灵能百分百 第二季</p>
                    </div>
                    <div class="mask"></div>
                  </a>
                </li>
                <li class="anime-content">
                    <a href="">
                      <div class="poster"
                        style="background:url('http://lain.bgm.tv/pic/cover/l/8e/c7/240760_368N6.jpg'); background-size: cover">
                        <p class="anime-name">灵能百分百 第二季</p>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
  <script src="/js/anime.js"></script>
</body>

</html>